<section class="giscus mx-auto mt-10 w-full"></section>


<script src="https://giscus.app/client.js"
        data-repo="52coder/52coder.net"
        data-repo-id="R_kgDOPMF8KQ"
        data-category="Blog Posts Comments"
        data-category-id="DIC_kwDOPMF8Kc4CuEnP"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_tritanopia"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>